.gamburger-menu {
  display: none;
}
.header {
  background-color: $color-base-blue;
  &__nav {
    @include flex;
    padding: 29px 0 35px 0;
  }
  &__title {
    @include font($font-weight-700, $color-white, $font-size-25);
    text-transform: $text-uppercase;
    color: $color-white;
  }
  &__note {
    color: $color-pink;
  }
  &__list {
    @include flex;
  }
  &__item {
    padding-left: 25px;
    &:after {
      content: "";
      position: relative;
      bottom: 9px;
      right: 14px;

      display: table-cell;
      height: 0.2em;
      width: 0.2em;
  
      background: $color-white;
      border-radius: 50%;
    }

    &:first-of-type:after {
      background-color: $color-base-blue;
    }
  }
  &__link {
    @include font($font-weight-700, $color-white, $font-size-12);
    text-transform: $text-uppercase;
    text-decoration: none;
    &:hover {
      color: $color-pink;
    }
  }
}