.services-section {
    &__title {
        padding: 40px 0 18px;
        @include font($font-weight-900, $color-title, $font-size-30);
    }
    &__text {
        @include font($font-weight-300, $color-paragraph, $font-size-18);
        line-height: 30px;
        text-align: justify
    }
    &__main {
        @include flex;
        flex-wrap: wrap;
        padding: 60px 0 20px;
    }
    &__item {
        display: flex;
        width: 300px;
        padding-bottom: 30px;
    }
    &__img {
        object-fit: contain;
        height: 60px;
        padding-right: 20px;
    }
    &__sideitem {
        display: flex;
        flex-direction: column;
        
    }
    &__subtitle {
        padding-bottom: 7px;

        @include font($font-weight-900, $color-title, $font-size-18);
        text-transform: capitalize;
        line-height: 18px;
    }
    &__description {
        @include font($font-weight-400, $color-paragraph, $font-size-12);
        line-height: 22px;
        text-align: justify;
    }
}
