@mixin font ($font-weights, $color-text, $font-sizes) {
    font-family: 'Lato';
    font-weight: $font-weights;
    color: $color-text;
    font-size: $font-sizes;
}
@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin container {
    margin: 0 auto;
    width: 90%;
}