// Color
$color-white: #ffffff;
$color-pink: #f06c64;
$colot-title:  #666d89;
$color-paragraph: #767e9e;
$color-base-blue: #2d303a;

// Size text
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-18: 18px;
$font-size-25: 25px;
$font-size-30: 30px;

// Weight text
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-900: 900;

$text-uppercase: uppercase;